# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Virtual environments
venv/
env/
ENV/
.venv/

# VS Code and IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs and databases
*.log
logs/
*.sqlite3
*.db

# Pytest
.pytest_cache/

# Type checkers
.mypy_cache/

# Jupyter
.ipynb_checkpoints

# Misc
*.pyc
.ropeproject
.env

# Model weights and large artifacts
*.pt
*.pth
*.task
weights/
*.onnx
*.jpeg
*.png

node-tailwind-python-site